{% extends 'main.html.twig' %}

{% block title %}{{ trailers | length }} iTunes Movie trailers{% endblock %}

{% block content %}
    <div class="ml-2 position-relative">
        <div class="position-absolute border p-3">
            <p>Time and date: {{ date | date("H:i:s m/d/Y") }}</p>
            <p>Class: {{ class }}</p>
            <p>Method: {{ method }}</p>
        </div>
    </div>
    <div class="container">
        <h1 class="mt-5 mb-4">{{ trailers | length }} iTunes Movie trailers</h1>
        <table class="table table-bordered">
            {% for trailer in trailers %}
                <tr>
                    <td>
                        <div class="media align-items-center">
                            <img class="mr-3" src="{{ trailer.image }}" alt="{{ trailer.title }}">
                            <div class="media-body">
                                <h5>{{ trailer.title }}</h5>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
